{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "esnext",
    "loose": true,
    "minify": {
      "mangle": true,
      "compress": {
        "defaults": true,
        "arguments": true,
        "passes": 2
      }
    },
    "paths": {
      "@/*": ["./*"]
    },
    "baseUrl": "./dist"
  },
  "test": ".*\\.js$",
  "minify": true
}
